.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput {
  height: 30px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
  /* border: none; */
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:hover {
  transition: all 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: #1a7fc8;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
